

// Default maps overrides

//grid and container mapping

$spacers: (
        0: 0,
        s: rem(4),
        m: rem(8),
        12: rem(12),
        16:rem(16),
        24: rem(24),
        36: rem(36),
        48: rem(48),
        60:rem(60),
        72: rem(72),
        84: rem(84),
        96: rem(96),
        120: rem(120),
        144: rem(144),
        192: rem(192),
        254:rem(254),
        288: rem(288),

);


$custom-colors: (
    "orange": $orange
);


// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);


// Remove from map
//$theme-colors: map-remove($theme-colors, "info", "light", "dark");


// Bootstrap and its default maps
@import "~bootstrap/scss/maps";


