
//theme utilities


// Bootstrap utilities
@import "~bootstrap/scss/utilities";


$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);


//Modify utilities
$utilities: map-merge(
        $utilities,
        (
            
            "font-weight": map-merge(map-get($utilities, "font-weight"),
                (
                    values: map-merge(map-get(map-get($utilities, "font-weight"), "values"),
                        (
                            medium: $font-weight-medium,
                        ),
                    ),
                ),
            ),
            "font-family": map-merge(map-get($utilities, "font-family"),
                (
                    values: map-merge(map-get(map-get($utilities, "font-family"), "values"),
                        (
                            myriadpro: myriadpro
                        ),
                    ),
                ),
            ),
            "max-width": map-merge(map-get($utilities, "max-width"),
                (
                    
                    values: map-merge(map-get(map-get($utilities, "max-width"), "values"),
                        (
                            25: 25%,
                            50: 50%,
                            75: 75%
                        ),
                    )
                ),
            ),
            "bg-opacity": map-merge(map-get($utilities, "bg-opacity"),
                (
                    values: map-merge(map-get(map-get($utilities, "bg-opacity"), "values"),
                        (
                            20: .2,
                            30: .3,
                            80: .8,
                        ),
                    )
                ),
            ),

            /*"color": map-merge(map-get($utilities, "color"),
                (
                    values: map-merge(map-get(map-get($utilities, "color"), "values"),
                            (
                                $all-colors
                            ),
                    ),
                ),
            ),*/
        )
);



//Add and Override utilities
$utilities: map-merge(
    $utilities,
    (
        //Added
        "z-index": (
            property: z-index,
            class: zi,
            values: (
                9: 9,
                99: 99,
                999: 999,
                9999: 9999,
            ),
        ),
        "object-position": (
            property: object-position,
            class: op,
            values: top center bottom,
        ),
        //Overrided
       /* "overflow": (
            responsive: true,
            property: overflow,
            values: visible hidden scroll auto,
        ),*/
    )
);





