



// Default variable overrides

$body-bg: #fff;
$body-color: #444;
$enable-smooth-scroll:false;

$modal-lg: 900px;
$success:#71E6AF;
$dark:#000000;
$warning:#FECD59;
$white:rgba(255,255,255);
$secondary:#FFF1DB;
$danger:#FD853E;


// new variable
$font-family-CentraNo2: 'CentraNo2',arial;
$font-family-Inter: 'Inter',arial;
$font-weight-medium:       500;


$h1-font-size:      rem(124);
$h2-font-size:      rem(72);
$h3-font-size:      rem(52);
$h4-font-size:      rem(36);
$h5-font-size:      rem(24);
$h6-font-size:      rem(18);


//$display-font-weight: 400;

$enable-negative-margins: true;


// Bootstrap and its default variables
@import "~bootstrap/scss/variables";




